@model IEnumerable<Lakeside.Models.Film>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilmList</title>
</head>
<body style="background-color:wheat;">
    @Html.RouteLink("Home", new { Action = "Index", Controller = "Home" })<br />
    @Html.ActionLink("Create New", "FilmCreate")

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "FilmEdit", new { id = item.FilmID }) |
                    @Html.ActionLink("Delete", "FilmDelete",new { id = item.FilmID },
                                     new { onclick = "return confirm('Are you sure?');" })
                </td>
            </tr>
        }
    </table>
</body>
</html>
